*{
    padding: 0;
    margin: 0;
}
ul li:hover{
    background:red;
}
ul li{
    display: inline-block;
    background: cornsilk;
    color: rgb(41, 8, 131);

}
body{
    background-color: beige;
}
.wrap{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 300px;
}
a{
    text-decoration: none;
    color: chartreuse;
}
h1{
    margin-bottom: 60px;
    text-align: center;
    font: 300;
    text-transform: uppercase;

}
strong{
    font-weight: 400;
    color: chocolate;
}
h2{
    margin-bottom: 80px;
    text-align: center;
    font: 300;
    text-transform: uppercase;
    font-weight: 400;
}

